<!DOCTYPE html>
<html>
<head>
  <title>Picmarks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
    <h1><a href="/pictures">Picmarks</a></h1>
  </header>
  
  <p>
    <%= notice %>
  </p>
  
  <%= yield %>

</body>
</html>
